name: Deploy to Raspberry Pi

on:
  workflow_dispatch:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v4
        with:
          lfs: true                # active Git LFS pour les fichiers volumineux

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Update external submodule
        run: |
          ssh -o StrictHostKeyChecking=no -p 18005 Marc@lemarc.fr << 'EOF'
          set -e
          echo "[Updating external submodule]"
          cd /home/Marc/Developpement/Web/mon_site/app/static/drive/drive
          git fetch --all
          git reset --hard origin/main
          EOF
